{% extends "index.twig" %}

{% block main %}
  <section>
    <!-- Main Photo -->
    <div class="container">
      {% set image = entry.previewImage.one() %}
      {% if image %}
        {% set options = {
          mode: 'crop',
          height: 675,
          width: 1200,
        } %}
        <img src="{{ image.getUrl(options) }}" alt="{{ image.altText }}" class="card-img-top img-fluid" style="max-width: 100%; height: auto">
      {% else %}
        <img src="https://via.placeholder.com/1500x600" align="middle" alt="">
      {% endif %}
    </div>
    <!-- Main Photo End -->

    <!-- Blog Posts -->
    <div class="container marketing">
      <hr class="featurette-divider">
      {% set latestPost = craft.entries.section('blogPosts').one() %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ latestPost.title }}! <span class="text-muted">{{ latestPost.description }}.</span></h2>
          <p class="lead">{{ latestPost.richText|striptags|slice(0,150) }}...</p>
          <a href="{{ latestPost.url }}">
            <button type="button" class="btn btn-info btn-lg my-3">
              Read More
            </button>
          </a>
        </div>
        <div class="col-md-5">
          {% set image = latestPost.previewImage.one() %}
          {% if image %}
            {% set options = {
              mode: 'crop',
              height: 500,
              width: 500
            } %}
            <img src="{{ image.getUrl(options) }}" alt="{{ image.altText }}" class="card-img-top img-fluid" style="max-width: 100%; height: auto">
          {% else %}
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
          {% endif %}
        </div>
      </div>
      <hr class="featurette-divider">
      {% set first = craft.entries.section('blogPosts').inReverse().one() %}
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">{{ first.title }}! <span class="text-muted">{{ first.description }}.</span></h2>
          <p class="lead">{{ first.richText|striptags|slice(0,150) }}...</p>
          <a href="{{ first.url }}">
            <button type="button" class="btn btn-info btn-lg my-3">
              Read More
            </button>
          </a>
        </div>
        <div class="col-md-5 order-md-1">
          {% set image = first.previewImage.one() %}
          {% if image %}
            {% set options = {
              mode: 'crop',
              height: 500,
              width: 500
            } %}
            <img src="{{ image.getUrl(options) }}" alt="{{ image.altText }}" class="card-img-top img-fluid" style="max-width: 100%; height: auto">
          {% else %}
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
          {% endif %}
        </div>
      </div>
      <hr class="featurette-divider">
    <!-- Blog Posts End -->

    <!-- Call to action -->
      <div class="featurette row align-items-center">
        <div class="col-md-auto">
          <h2 class="header display-4">Find more of my posts...</h2>
        </div>
        <div class="col d-flex justify-content-end">
          <a href="/blog">
            <button type="button" class="btn btn-info btn-lg px-5 my-5">
              Blog Posts
              <i class="fas fa-arrow-right ml-3 pt-2"></i>
            </button>
          </a>
        </div>
      </div>
        <hr class="featurette-divider">
      </div>
    </div>
  </section>

  <!-- Instagram Posts feed -->
  <section class="album py-5 bg-light">
    <div class="container">
      <div class="row d-flex">
        {% for item in craft.instagram.getFeed() %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img  src="{{ item.src }}" alt="instagram photo" class="img-fluid" style="max-width: 100%; height: auto">
              <div class="card-body">
                {% set caption = item.caption %}
                {% if caption %}
                  <p class="card-text">{{ caption|striptags|slice(0, 50) }}...</p>
                  <hr class="mt-3">
                {% endif %}
                <div class="d-flex justify-content-between align-items-center mt-5">
                  <div class="btn-group">
                    <span class="text-muted"><i class="fas fa-heart px-2 text-danger"></i>{{ item.likes }} Likes</span>
                  </div>
                  <span class="text-muted"><i style="color: #4284f5;" class="fas fa-comment-dots px-2"></i>{{ item.comments }} Comments</span>
                </div>
                <a class="btn btn-lg btn-block" href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank">
                  <button type="button" class="btn btn-info btn-lg btn-block mt-4">
                    See Post!
                  </button>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}



